@use "../abstracts/variables" as vars;

footer {
    padding: vars.$spacing-large;
    text-align: center;
    background-color: vars.$color-primary;
    color: #ffffff;

    p {
        margin: 0;
    }
}